body {background-color: powderblue;}
h1   {color: blue;}

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

/* The syntax for id is: write a hash character (#), followed by an id name. 
Then, define the CSS properties within curly braces {}. */
#head3 {  background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}